

.claim-body{
  position: absolute;
  width: 90vw;
  display: block;
  margin: 2% 5% 4% 5%;
  background: #7895CB;
  font-family: "Inter", Helvetica;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}


.left {
  font-size: 40px;
  color: white;
}


.right {
  justify-content: end;
  font-size: 40px;
  color: white;
  margin-top: 1px;
}

.search-bar {
  position: relative;
  width: 100%;
  left: 0;
}

.search-bar input {
  width:150%;
  padding-left: 70px; 
  height: 50px;
  background-color: white;
  border-radius: 30px;
  color: black;
  border: none;
  font-size: 25px;
  outline: none;
}

.search-bar i {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 28px;
  background: transparent;
}

.table-container {
  width: 100%; 
  height: 25rem; 
  overflow: auto;
  position: relative;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  letter-spacing: .5px;

}

thead {
  position: sticky; 
  top: 0;
  z-index: 1;
}

th, td {
  padding: 15px;
  text-align: center;

}

th{
  background: #4A55A2;
  color: white;
  font-weight: 300;
}
tr:nth-child(odd) td{
  background-color: #A0BFE0;
}

tr:nth-child(even) td{
  background-color: #C5DFF8; 
}

.custom-checkbox{
  width: 34px;
  height: 26px;
  background-color: #4A55A2;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::before {
  content: "\2713"; 
  font-size: 20px;
  font-weight: 700;
  padding: 1px 8px;
  color: transparent; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 5px;
}

.custom-checkbox:checked::before {
  color: white; 
  background-color: #21D01D;
}

.claim-btn{
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background: #A0BFE0;
  border: .5px solid black;
  padding: 4px 15px;
  border-radius: 10px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.claim-btn:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}

.button-container{
  margin-top: 30px;
  margin-bottom: 50px;
}


.button-container a{
  padding: 15px 50px;
  font-size: 22px;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
  border: 1px solid #A0BFE0;
  background-color: #A0BFE0;
  border-radius: 20px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.notify-btn{
  margin-right: 20px;
}

.cancel-btn{
  margin-right: 20px;
}

.button-container a i{
  background: transparent;
  padding-right: 15px;
  font-size: 22px;
  color: black;
}

.button-container .cancel-btn i{
  background: transparent;
  padding-right: 15px;
  font-size: 22px;
  color: red;
}
.button-container a:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}


@media(max-width: 1100px){

  .right {
      margin-top: 10px;
      font-size: 35px;
  }
}

@media(max-width: 790px){
      
  .right {
      display: none;
  }

}

@media(max-width: 700px){


  .search-bar i {
      top: 10px;
      left: 15px;
      font-size: 20px;
    }

  .button-container .verify-btn{
      margin-top: -15px;
      padding: 10px 40px;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
  }

  .button-container .notify-btn{
      margin-top: -15px;
      padding: 10px 40px;
      font-size: 20px;
      letter-spacing: .5px;
      font-weight: 700;
  }
  
  .button-container .notify-btn i{
      padding-right: 10px;
      font-size: 22px;
  }

  .button-container .verify-btn i{
      padding-right: 10px;
      font-size: 22px;
  }

  table {
      font-size: 15px;
  }    
 
  th, td {
      padding: 12px;
  }
}

@media(max-width: 500px){

  .search-bar input {
    width:100%;
  }

  .container {
    margin-bottom: 20px;
  }


  .search-bar i {
      z-index: 1;
      top: 24px;
      left: 10px;
      font-size: 28px;
      background: transparent;
    }

    .search-bar {
      margin-bottom: 10px;
    }


  .button-container .notify-btn{
      padding: 10px 35px;
      font-size: 18px;
  }

  .button-container .verify-btn{
      padding: 10px 35px;
      font-size: 18px;
  }

  .left {
      position: relative;
      font-size: 20px;
      top: 15px;
  }
}

@media(max-width: 375px){


  
  .search-bar input {
    width:100%;
  }
  

  .button-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .button-container .notify-btn, .verify-btn{
      padding: 10px 90px;
      font-size: 15px;
  }

  .button-container .verify-btn{
      padding: 10px 90px;
      font-size: 15px;
  }

  .button-container button i{
      font-size: 15px;
      padding-right: 2px;
  }

  .notify-btn{
      margin-right: 0;
      margin-bottom: 30px;
  }


}



/*///////////////////////////////////////////////////*/
/*///////////////////////////////////CLAIMING DETAILS*/
/*///////////////////////////////////////////////////*/


.claim-detail-container{
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 69vw;
  width: 100%;
  background-color: #A0BFE0;
  padding: 25px 60px 50px 60px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);

}

.claimed-message{
  margin: auto;
  display: flex;
  width: 90%;
  justify-content:center ;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.claimed-message i{
  font-size: 30px;
  color: red;
  margin-right: 15px;
}

.claimed-message h2{
  font-size: 15px;
  font-style: italic;
}

.claimed-message span{
  font-size: 15px;
  font-style: italic;
  color: red;
}

.closebtn-container{
  position:relative;
}

.close-btn{
  position:absolute;
  right: -30px;
  bottom: -30px;
}

.close-btn a{
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.close-btn a i{
  text-decoration: none;
  color: black;
  margin-right: 5px;
}


.display-form, label{
  background-color: transparent;
}

.detail-column{
  background-color: transparent;
  display: flex;
  column-gap: 20px;
}

.detail-column1{
  background-color: transparent;
  display: flex;
  column-gap: 20px;
}

.detail-column2{
  background-color: transparent;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.detail-column2 a{
  text-align: center;
}




.display-form{
  width: 100%;
  margin-top: 25px;
}

.display-form label{
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

.display-form input{
  margin-top: 10px;
  width: 100%;
  padding: 15px 25px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 25px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
}


.detail-column2 a{
  position: relative;
  height: 69px;
  width: 90px;
  border-radius: 20px;
  border: 1px solid black;
  top: 34px;
  font-size: 25px;
  letter-spacing: .5px;
  background-color: #C5DFF8;
  font-weight: bolder;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  color: black;
  text-decoration: none;
  padding: 15px 15% 0 25%;

}

.detail-column2 a h1{
  position: relative;
  font-size: 30px;
  right: 70px;
}

.detail-column2 .display-form input{
  width: 95%;
}

.detail-column2 a i{
  position: relative;
  bottom: 45px;
  font-weight: bolder;
  background-color: transparent;
}

.detail-column2 a:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #444649;
  cursor: pointer;
  box-shadow: none;
}

#blur.active{
  filter: blur(20px);
}

#popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;

}

#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.btn-Yes{
  background: #7895CB;
  border: 1px solid #7895CB;  
  padding: 10px 25px;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;

}


.btn-No{
  background: gray;
  outline: none;
  border: 1px solid gray;
  padding: 10px 25px;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.popup{
  border-radius: 10px;
}

.modal-header {
  background: #7895CB;
  padding: 30px;
  border-radius: 10px 10px 0 0;
}
.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
.modal-body h2{
  font-size: 20px;
  padding-bottom: 60px;
}

.modal-body i{
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #4A55A2;
}

.btn-ftr{
  display: flex;
  position: relative;
  left: 65%;
  padding: 10px 10px;
  margin-bottom: 5px;
}

.btn-Yes:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #7895CB;
  cursor: pointer;
  box-shadow: none;

}

.btn-No:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid gray;
  cursor: pointer;
  box-shadow: none;
}

#additional-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 650px;
  text-align: center;
  display: none;
  border-radius: 10px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: white;
}


#additional-popup .modal-body {
  margin-top: 10px;
  align-items: start;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}


#additional-popup .modal-body h1{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  padding-left: 40px;
}

ul {
  
  padding-left: 70px;
}

li {
  margin-bottom: 5px;

}


.ok-btn{
  background: #7895CB;
  border: 1px solid #7895CB;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cancelx-btn{
  background: #abafb6;
  border: 1px solid #abafb6;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;

  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cancelx-btn:hover{
  background: #b9b9b9;
  color: #494a4e;
  border: 1px solid #7895CB;
  cursor: pointer;
  box-shadow: none;
}

.ok-btn:hover{
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #7895CB;
  cursor: pointer;
  box-shadow: none;
}



@media (max-width: 930px){

  .claim-detail-container{
      max-width: 90vw;
  }

  .display-form{
  margin-top: 20px;
  }

  
  .display-form label{
  color: white;
  font-size: 15px;
  }

  .display-form input{
      margin-top: 5px;
      width: 100%;
      padding: 15px 25px;
      font-size: 17px;

  }

  .detail-column2 a{
      height: 58px;
      top: 25px;

  }
  .detail-column2 a h1{
      font-size: 25px;
      bottom: 5px;
      right: 55px;

  }
  .detail-column2 a i{
      font-size: 20px;
      bottom: 48px;
      left: 5px;
  }

}

@media (max-width: 720px){


  .claimed-message span{
      display: block;
  }


}

@media (max-width: 700px){
  #popup{
      position: fixed;
      top: 25%;
      left: 50%;
      width: 400px;
  }

  #additional-popup{
    position: fixed;
    top: 45%;
    left: 50%;
    width: 400px;
  }

  .cancelx-btn{
    padding: 10px 20px 10px 20px;
  }

  ul {
  
  padding-left: 70px;
}

li {
  margin-bottom: 5px;

}

  
  #popup.active{
      top: 45%;
  }

  .modal-body{
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .modal-body h2{
      font-size: 17px;
  }

  .btn-ftr{
      left: 50%;
    }

}



@media (max-width: 600px){
  .claim-detail-container{
      width: 110%;
      padding: 25px 50px 50px 40px;
      border-radius: 25px;
  }

  .close-btn{
      position:absolute;
      right:-25px;
      bottom: -25px;
  }
  
  .close-btn a{
      font-size: 20px;
  }
}

@media (max-width: 500px){

  .claimed-message{
      width: 100%;
  }

  .claimed-message h2{
      font-size: 15px;
  }

  .claimed-message span{
      font-size: 15px;
  }

  .detail-column{
      flex-wrap: wrap;
  }

  .detail-column1{
      flex-wrap: wrap;
  } 

  .detail-column2{
      flex-wrap: wrap;

  }

  .detail-column2 .display-form input{
      width: 100%;
  }

  .detail-column2 a{
      height: 50px;
      width: 1000px;
      top: 30px;    
  }

  .detail-column2 a h1{
      bottom: 5px;   
      right: 35px; 

  }

  #popup{
      width: 300px;
  }
  

  .modal-body{
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .modal-body h2{
      font-size: 15px;
      padding-bottom: 20px;
  }

  .modal-body i{
      margin-top: 20px;
  }

  .btn-ftr{
      left: 20%;
    }


}

@media (max-width: 430px){

  #additional-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
  }

  ul {
  
    padding-left: 40px;
  }

  #additional-popup .modal-body h1{
    padding-left: 30px;
  }

  .ok-btn{
    padding: 10px 20px 10px 20px;
    font-size: 12px;
  }
  
  .cancelx-btn{
    padding: 10px 20px 10px 20px;
    font-size: 12px;
  }
  
  .claimed-message{
      padding: 10px 2px;
      justify-content: left;
  }

  .claimed-message h2{
      font-size: 13px;
  }
}

@media (max-width: 400px){

  .claim-detail-container{
      max-width: 100vw;
      padding: 10px 50px 60px 40px;
      border-radius: 0;
      margin: 0;
  }

  .left{
      font-size: 30px;
  }

  .verify-btn{
      margin-bottom: 20px;
  }

  .close-btn{
      right:-25px;
      bottom: -40px;
  }
  
  .close-btn a{
      font-size: 25px;
  }

}

@media (max-width: 350px){

  #popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
  }

  #additional-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 250px;
  }

  ul {
    font-size: 10px;
    padding-left: 35px;
  }

  #additional-popup .modal-body h1{
    padding-left: 25px;
    font-size: 12px;
  }

  .claim-detail-container{
      max-width: 90vw;
      background: transparent;
      padding: 10px 0px 60px 20px;
      border-radius: 0;
      box-shadow: none;
  }

}




/*///////////////////////////////////////////////////*/
/*////////////////////////////////////CLAIMED SUCCESS*/
/*///////////////////////////////////////////////////*/


.claimed_container{
  position: fixed;
  top: 24rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: white;
  border-radius: 10px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.claimed_header{
  background: #7895CB;
  padding: 35px;
  border-radius: 10px 10px 0 0;
}

.claimed_body{
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgb(237, 245, 248);
}

.claimed_body i{
  color: #04dd5f;
  font-size: 40px;
  margin-top: 20px;
  
}

.claimed_body h2{
  font-size: 35px;  
  margin-bottom: 20px;
}

.claimed_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.senior_detail {
  display: flex;
  justify-content: space-between;
  width: 300px; 
  margin: 5px; 
  
}

.senior_detail p{

  margin-right: 15px;
  text-align: right;
  width: 180px; 
  font-weight: bolder;
  font-size: 15px;
  color: black;
}

.senior_detail h1{
  flex: 1;
  font-weight: bolder;
  font-size: 20px;
  color: black;
  padding-left: 10px;
  width: 30px;
}

.senior_detail label {
  text-align: right;
  margin-right: 10px; 
  width: 100px; 
  font-weight: bolder;
  font-size: 15px;
  color: black;

}

.senior_detail input {
  flex: 1;
  background: white;
  border: none;
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 15px;
  color: black;
  padding-left: 10px;
}

.claimed_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
} 

.btn-Okay, .btn-Back, .btn-Confirm {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #7895CB; 
  color: black;
  font-weight: 500; 
  font-size: 20px;
  text-decoration: none; 
  border: 1px solid #7895CB; 
  border-radius: 5px; 
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-Back {
  margin-right: 20px;
}

.btn-Okay:hover {
  background: #c5d5e7;
  color: #494a4e;
  border: 1px solid #7895CB;
  cursor: pointer;
  box-shadow: none;

}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

}


.modal-container1 {
  background-color: #fff;
  margin: 15% auto;
  width: 80%;
  border:none;
  text-align: center;
  border-radius: 10px;
}

.modal-container1 i{
  color: red;
  font-size: 40px ;
  margin-bottom: 10px;
}

.modal-container1 p{
  font-size: 15px ;
}

.modal-head{
  background-color: #7895CB;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.modal-content{
  border: none;
  padding: 20px 20px 0 20px;
  font-weight: bolder;

}

.modal-buttons{
  padding-bottom: 15px;
}

.modal-buttons .btnContinue{
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #7895CB;
  border-radius: 10px;
}

.btnCancel{
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: gray;
  border-radius: 10px;
}

.modal-buttons button:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 620px){
  .claimed_container{
      width: 400px;
  }
}

@media (max-width: 430px){
  .claimed_container{
      width: 350px;
  }
}

@media (max-width: 370px){
  .claimed_container{
      top: 20rem;
      width: 100%;
      box-shadow: none;
      border-radius: none;
  }
}
