body {
  background-color: #7895cb;
  font-family: "Inter", Helvetica;
  margin: 0;
  box-sizing: border-box;
}

.navi {
  display: flex;
  position: relative;
  background-color: #ffff;
  height: 110px;
  justify-content: center;
}

.logo img {
  width: 15rem;
  position: absolute;
  left: 2rem;
  top: 30px;
}

nav ul {
  position: absolute;
  list-style: none;
  right: 16rem;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #ada9a9;
  font-size: 2rem;
}

.user img {
  position: absolute;
  right: 3rem;
  top: 30px;
  width: 3.5rem;
}

.user label {
  display: block;
  cursor: pointer;
}

.user ul {
  border: 1px solid rgb(190, 181, 181);
  padding: 10px 90px 10px 10px;
  position: absolute;
  background-color: #ffff;
  list-style: none;
  top: 70px;
  right: 51px;
  display: none;
  z-index: 1;
}

[id^="btn"]:checked + ul {
  display: block;
}

.user input {
  display: none;
}

.user ul li {
  padding: 5px 1px;
}

.user ul li a {
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  color: black;
}

.user .menu::before {
  position: absolute;
  content: "";
  border: 1px solid rgb(190, 181, 181);
  border-bottom: none;
  border-right: none;
  height: 15px;
  width: 15px;
  background: white;
  top: -9px;
  right: 18px;
  transform: rotate(45deg);
  z-index: -1;
}

.user ul li a:hover {
  color: #4a55a2;
}

.pages[aria-current="page"] {
  color: #4a55a2;
  display: inline-block;
  border-bottom: 5.8px solid #444;
  top: 50px;
  height: 55px;
}

/*.active {
  color: #4a55a2;
  display: inline-block;
  border-bottom: 5.8px solid #444;
  top: 50px;
  height: 50px;
}*/

nav a:hover {
  color: #4a55a2;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;
  position: relative;
  top: 50px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.mobile-nav-toggle {
  display: none;
}

.nav-link {
  display: none;
}

@media (max-width: 1240px) {
  .logo img {
    width: 12rem;
    left: 2rem;
    top: 35px;
  }

  nav a {
    font-size: 1.6rem;
  }

  nav ul {
    right: 9rem;
  }

  nav li {
    margin-left: 40px;
  }

  .user img {
    right: 3rem;
    top: 32px;
    width: 3.5rem;
  }
}

@media (max-width: 1000px) {
  nav a {
    font-size: 1.6rem;
  }

  nav ul {
    right: 4rem;
  }

  nav li {
    margin-left: 30px;
  }
}

@media (max-width: 850px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M4 6H20M4 12H20M4 18H20" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
    background-color: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
    top: 2rem;
    right: 2rem;
    z-index: 10000;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g id="Menu / Close_MD"><path id="Vector" d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>');
  }

  .logo img {
    top: 25px;
  }

  .navi {
    height: 90px;
  }

  .primary-navigation {
    position: fixed;
    margin: 0;
    width: 40%;
    height: 100vh;
    padding: min(15vh, 7rem) 0;
    background: #a0bfe0;
    top: 0;
    right: 0;
    text-align: left;
    transition: all 0.2s;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  nav li {
    width: 100%;
    margin: 0px;
    display: block;
    padding: 15px 3rem;
    border-bottom: 1px solid #ada9a9;
    transition: none;
  }

  nav ul li a {
    font-size: 20px;
    color: black;
  }

  nav ul li:hover {
    background: #7895cb;
  }

  nav li:hover a {
    color: #ffff;
  }

  nav a::before {
    display: none;
  }

  .user img {
    display: none;
  }
  .nav-link {
    display: block;
  }
}

@media (max-width: 600px) {
  .primary-navigation {
    padding: min(15vh, 7rem) 0;
    width: 60%;
  }

  .primary-navigation a {
    font-size: 20px;
  }

  .primary-navigation li {
    padding: 15px 2rem;
  }
}

@media (max-width: 375px) {
  .primary-navigation {
    width: 100%;
  }

  .logo img {
    width: 150px;
    left: 20px;
    top: 30px;
  }

  .primary-navigation {
    padding: min(15vh, 7rem) 0;
  }

  .primary-navigation li {
    padding: 15px 2rem;
  }
}
