

a{
  text-decoration: none;
}

img{
  width: 100%;
  border-radius: 10px;
}

:focus{
  outline: none;
}

.container {
  max-width: 955px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner{
  padding: 20px;
  max-width: 1000px;
  top: min(10rem, -5rem);
  display: flex;
}

.inner.photo-holder{
  width: 30%;
}


.inner form{
  width: 70%;
  margin-right: 30px;
}

.form-wrapper{
  width: 100%;
  height: 40px;

  margin-bottom:20px;
}

.form-wrapper input{
  font-size: 20px;
  padding: 25px 10px;
  width: 100%;
  outline: none;
}

.form-group{
  display: flex;
}

.form-group input{
  width: 50%;
  padding: 25px 10px;
  outline: none;

}

.form-group input:first-child{
  margin-right: 10px;
  width: 57%;
}


.form-select{
  padding: 6px, 9px;
  border: 1px solid black;
  border-radius: 5px;
  height: 54px;
  font-size: 20px;
  width: 40%;
}


.form-group1{
  display: flex;
}

.form-group1 input{
  width: 50%;
  padding: 25px 10px;
}

.form-group1 input:first-child{
  margin-right: 10px;
  width: 180%;
}

.form-wrapper{
  position: relative;
}

.form-control{
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 6px 9px;
  display: block;
  width: 96.5%;
  height: 40px;
  color: black;
  font-size: 20px;
}

.form-group select{
  cursor: pointer;
  color: gray;
}

.form-group select option{
  font-size: 15px;
}

.form-group select option[value=""][disabled]{
  display: none;
}

.inner button{
  justify-content: center;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  background: #A0BFE0;
  transition: .2s;
}

.form-btn{
  display: flex;
  justify-content: space-evenly;
}

.inner button:hover{
  background: #4A55A2;
}

.form-control:hover, .form-select:hover{
  background: #d6dfe9;
}


.image input{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: gray;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.photo-holder{
  text-align: center;
}



.camera-btn{
  position: relative;
  top: 20px;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
  font-weight: bold;
  background: #A0BFE0;
  transition: .2s;
  color: black;
}

.camera-btn:hover{
  background: #4A55A2;

}



@media(max-width: 840px){
  .inner .photo-holder{
      width: 30%;
  }

    .inner form{
      width: 60%;
  }
}


@media(max-width: 550px){

  .container{
    max-width: 95%;
  }

  .inner .photo-holder{
      width: 70%;
      position: absolute;
      right: 15%;
  }

  .inner form{
    margin-top: 80%;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
  }

  .form-control{
      width: 95%;
  }

}
@media(max-width: 435px){

  .camera-btn{
    position: relative;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    top: 12px;
  }

  .inner form{
    margin-top: 88%;
}
}

@media(max-width: 385px){

  .camera-btn{
    font-size: 12px;
  }


  .image input{
    padding-bottom: 35px;
  }

  .inner .photo-holder{
    width: 50%;
    position: absolute;
    right: 25%;
}

  .inner form{
      margin-top: 70%;
      margin-left: 0px;
  }

  .form-control{
      width: 93%;
      height: 30px;
      font-size: 15px;
  }

  .form-wrapper {
    margin-bottom: 8px;
  }

  .form-group{
    margin-bottom: 0;
    height: 50px;

  }

  .form-group1{
    margin-bottom: 0;
    height: 50px

  }

  .form-wrapper input{
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-group input{
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-group1 input{
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-select{
      height: 45px;
      font-size: 15px;
  }
}





