a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

:focus {
  outline: none;
}

.container {
  max-width: 950px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner {
  padding: 20px;
  max-width: 1000px;
  top: min(10rem, -5rem);
  display: flex;
}

.inner.photo-holder {
  width: 30%;
}

.inner form {
  width: 70%;
  margin-right: 30px;
}


.form-wrapper {
  width: 100%;
  height: 40px;

  margin-bottom: 20px;
}

.form-wrapper input {
  font-size: 20px;
  padding: 25px 10px;
  width: 100%;
  outline: none;
}

.form-group {
  display: flex;
}

.form-group input {
  width: 50%;
  padding: 25px 10px;
  outline: none;
}

.form-group input:first-child {
  margin-right: 10px;
  width: 57%;
}

.form-select {
  padding: 6px, 9px;
  border: 1px solid black;
  border-radius: 5px;
  height: 54px;
  font-size: 20px;
  width: 40%;
}

.form-group1 {
  display: flex;
}

.form-group1 input {
  width: 50%;
  padding: 25px 10px;
}

.form-group1 input:first-child {
  margin-right: 10px;
  width: 180%;
}

.form-wrapper {
  position: relative;
}

.form-control {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 6px 9px;
  display: block;
  width: 96.5%;
  height: 40px;
  color: black;
  font-size: 20px;
}

.form-group select {
  cursor: pointer;
  color: gray;
}

.form-group select option {
  font-size: 15px;
}

.form-group select option[value=""][disabled] {
  display: none;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btn-edit {
  padding: 12px 40px 12px 40px;
  background-color: #a0bfe0;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.2s;
}

.confirm-delete {
  text-align: center;
}

.btn-delete1,
.btn-cancel1 {
  padding: 12px 40px 12px 40px;
  background-color: #a0bfe0;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  width: 50px;
  height: 30px;
  line-height: 10px;
}

.btn-delete {
  padding: 12px 40px 12px 40px;
  background-color: #a0bfe0;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.2s;
  border: none;
}

.btn-cancel {
  padding: 12px 40px 12px 40px;
  background-color: #a0bfe0;
  border-radius: 5px;
  color: black;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
}

.btn-delete:hover,
.btn-cancel:hover {
  background-color: #4a55a2;
}

.btn-delete1:hover,
.btn-cancel1:hover {
  background-color: #4a55a2;
}

.btn-container a:hover {
  background: #4a55a2;
}

.form-control:hover,
.form-select:hover {
  background: #d6dfe9;
}


.image input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: gray;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.photo-holder {
  text-align: center;
}

.camera-btn {
  position: relative;
  top: 20px;
  width: 30%;
  border: none;
  border-radius: 5px;
  padding: 15px 15px;
  font-weight: bold;
  background: #a0bfe0;
  transition: 0.2s;
  color: black;
}

.camera-btn:hover {
  background: #a0bfe0;
}


.confirmation-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40%;
  border-radius: 10px;
}

.confirmation-popup .header {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background: #4a55a2;
  padding: 20px;
}

.confirmation-popup .popup-body {
  padding-bottom: 30px;
  padding-top: 30px;
}

.confirmation-popup .popup-body p {
  font-size: 20px;
}

.confirmation-popup button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #a0bfe0;
}

.confirmation-popup button:hover {
  background-color: #4a55a2;
}


@media (max-width: 840px) {
  .inner .photo-holder {
    width: 30%;
  }

  .inner form {
    width: 60%;
  }
}

@media (max-width: 550px) {

  .confirmation-popup {
    width: 70%;

  }

  .confirmation-popup .popup-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .confirmation-popup .popup-body p {
    font-size: 15px;
  }

 
  .inner .photo-holder {
    width: 50%;
    position: absolute;
    right: 25%;
  }

  .inner form {
    width: 100%;
    margin-right: 0;
  }

  
.btn-edit {
  padding: 12px 20px 12px 20px;
}


.btn-delete {
  padding: 12px 20px 12px 20px;
  margin-left: 0;
}

.btn-cancel {
  padding: 12px 20px 12px 20px;
}

}

@media (max-width: 385px) {
  .inner .photo-holder {
    top: 20%;
  }

  .inner form {
    margin-top: 50%;
  }

  .form-control {
    width: 93%;
    height: 30px;
    font-size: 15px;
  }

  .form-wrapper {
    margin-bottom: 8px;
  }

  .form-group {
    margin-bottom: 0;
    height: 50px;
  }

  .form-group1 {
    margin-bottom: 0;
    height: 50px;
  }

  .form-wrapper input {
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-group input {
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-group1 input {
    font-size: 15px;
    padding: 20px 10px;
    width: 100%;
  }

  .form-select {
    height: 45px;
    font-size: 15px;
  }
}


@media (max-width: 500px) and (min-height: 740px) {
  .inner form {
    margin-top: 60%;
  }
}

@media (max-width: 930px) {
  .container {
    max-width: 90vw;
  }
}
