{% extends 'main.html' %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'styles/claiming1.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<head>
    <title>Claim Successful</title>
</head>
<body>
    <div class="claimed_container">

    <div class="claimed_header">
        </div>
            <div class="claimed_body">
                <i class="fa-solid fa-circle-check"></i>
                <h2>Claim Summary</h2>
            </div>

            <div class="claimed_form">
                <div class="senior_detail">
                    <p>Total Recipients:</p> 
                    <h1>{{ overall_count }}</h1>
                </div>
    
                <div class="senior_detail">
                    <p>Claimed: </p>
                    <h1>{{ claimed_count }}</h1>
                </div>
    
                <div class="senior_detail">
                    <p>Unclaimed: </p>
                    <h1>{{ unclaimed_count }}</h1>
                </div>    
            </div>

            <div class="claimed_footer">
                <a href="{% url 'claim_page' %}" class="btn-Back">Back</a>
                <a href="#" onclick="showPrintSummaryConfirmation()" class="btn-Confirm">Confirm Summary</a>
            </div>

            <div id="confirmation-modal" class="modal">
                <div class="modal-container1">
                    <div class="modal-head">

                    </div>
                    <div class="modal-content">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>Are you sure you want to download the summary now?  <br> This will reset all claimed list.</p>
                    </div>
                    <div class="modal-buttons">
                        <a href="#" onclick="showPrintSummaryConfirmation()" > <button id="confirm-button" class="btnContinue">Continue</button></a>
                        <button id="cancel-button" class="btnCancel">Cancel</button>
                    </div>
                </div>
            </div>

            <script>
                function showPrintSummaryConfirmation() {
                    var modal = document.getElementById('confirmation-modal');
                    modal.style.display = 'block';
            
                    var confirmButton = document.getElementById('confirm-button');
                    confirmButton.addEventListener('click', function() {
                        downloadSummaryInNewTab();
                        modal.style.display = 'none';
                    });
            
                    var cancelButton = document.getElementById('cancel-button');
                    cancelButton.addEventListener('click', function() {
                        modal.style.display = 'none';
                    });
            
                    function downloadSummaryInNewTab() {
                        var link = document.createElement('a');
                        link.href = "{% url 'download_summary' %}";
                        link.target = "_blank";
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
            
                        // Redirect to the claim page after a short delay
                        setTimeout(function() {
                            window.location.href = "{% url 'claim_page' %}";
                        }, 1000); // 1000 milliseconds = 1 second, adjust as needed
                    }
                }
            </script>
            
            
{% endblock content%}


