{% extends 'main.html' %}

{% block content %}
  {% load static %}

        <link rel="stylesheet" href="{% static 'styles/preview.css' %}" type="text/css" media="all">


        <div class="preview-container">
        <div class="header">
            <h2>Preview Information:</h2>
        </div>


        {% if seniors.senior_image %}
            <div class="photo-holder">
                <img src="{{ seniors.senior_image.url }}" alt="profile">
            </div>
        {% else %}
            <div class="photo-holder">
                <img src="{% static 'image/profile.png' %}" alt="profile">
            </div>
        {% endif %}

        <div class="display-form">
            <label>Last Name</label>
            <input value="{{ seniors.last_name}}" disabled>
        </div>

        <div class="display-form">
            <label>First Name</label>
            <input value="{{ seniors.first_name}}"  disabled>
        </div>

        <div class="detail-column">
            <div class="display-form">
                <label>Middle Name</label>
                <input value="{{ seniors.middle_name}}"  disabled>
            </div>
    
            <div class="display-form">
                <label>Suffix</label>
                <input value="{{ seniors.suffix}}" disabled>
            </div>
        </div>


        <div class="detail-column1">
            <div class="display-form">
                <label>Age</label>
                <input value="{{ seniors.age}}" disabled>
            </div>
    
            <div class="display-form">
                <label>Gender</label>
                <input value="{{ seniors.sex}}" disabled>
            </div>
          
            <div class="display-form">
                <label>Birthdate</label>
                <input value="{{ seniors.birth_date}}" disabled>
            </div>
        </div>

        <div class="detail-column2">
            <div class="display-form">
                <label>ID</label>
                <input  value="{{ seniors.OSCA_ID}}" disabled>
            </div>
        </div>

        <div class="btn-preview">
            <a href="{% url 'register_page' %}">Done</a>
        </div>
    </div>
</div>
{%endblock%}